@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #edeef3;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	background-color: transparent;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: none;
}

.main-div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    padding: 0px 22px;
    /* border: 15px black solid; */
    /* border-top-width: 40px;
    border-bottom-width: 60px;
    border-radius: 36px; */
}

/* .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
}

.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
} */

.smartphone .content {
    width: 315px;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smartphone-frame{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
}

#preloader{
    position: absolute;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    height: 100%;
    width: calc(100% - 10px);
    z-index: 1;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    padding: 50px;
    top: 5px;
    left: 5px;
    border-radius: 60px;
    /* background: #2a2a2a url(img/logo.png) no-repeat;
    background-position: center;
    background-size: contain; */
}
#preloader img{
    width: 200px;
}

.signup-form{
    margin: 15px auto;
}
.signup-form-label{
    color: rgb(0,100,100);
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 5px;
}
.input-group-text{
    box-shadow: 12px 12px 16px 0 #dadde2, -8px -8px 12px 0 #fff;
    border: none;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
    color: #91949d;
    font-size: 14px;
    font-weight: 600;
    outline: none;
}
input[type="text"],
input[type="email"]{
    box-shadow: 12px 12px 16px 0 #dadde2, -8px -8px 12px 0 #fff;
    border: none;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
    color: #91949d;
    font-size: 14px;
    font-weight: 600;
    outline: none;
}
input[type="number"]{
    border: none;
    color: #91949d;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px #cacaca, inset -3px -3px 7px #fff;
}
input[type="submit"]{
    background-color: rgb(0,100,100);
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 12px 12px 16px 0 #ccc, -8px -8px 12px 0 #fff;
    font-size: 14px;
}
.form-control:focus{
    outline: none;
}
.form-check label{
    font-size: 13px;
}
.form-group{
    margin-bottom: 12px;
}

.submit-button {
    background-color: #91949d;
}

.signup-or{
    text-align: center;
    position: relative;
    margin-bottom: 5px;
    font-size: 14px;
}
.signup-or:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    width: calc(50% - 20px);
    height: 1px;
    background-color: #ccc;
}
.signup-or:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    width: calc(50% - 20px);
    height: 1px;
    background-color: #ccc;
}
.signup-label{
font-size: 14px;
font-weight: 600;
margin-bottom: 10px;
}
.signup-others{
    margin-bottom: 15px;
}
.signup-others img{
    box-shadow: 12px 12px 16px 0 #dadde2, -8px -8px 12px 0 #fff;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
    width: 40px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}
.signup-others-p{
    font-size: 12px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}


@media (max-width: 576px){
    .main-div{
        height: auto;
    }
    #preloader{
        height: 100vh;
        width: 100%;
        border-radius: 0px;
        left: auto;
        top: auto;
    }
    .smartphone{
        width: 100%;
        height: 100%;
        margin: auto;
        border: none;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
        padding: 0px;
    }
    .smartphone::before{
        display: none;
    }
    .smartphone::after{
        display: none;
    }
    .smartphone .content {
        width: 100%;
        height: 100%;
    }
    .smartphone-frame{
        display: none;
    }
}

@media (max-width: 800px){
    .main-div{
        height: auto;
    }
    #preloader{
        height: 100vh;
        width: 100%;
        border-radius: 0px;
        left: auto;
        top: auto;
    }
    .smartphone{
        width: 100%;
        height: 100%;
        margin: auto;
        border: none;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
        padding: 0px;
    }
    .smartphone::before{
        display: none;
    }
    .smartphone::after{
        display: none;
    }
    .smartphone .content {
        width: 100%;
        height: 100%;
    }
    .smartphone-frame{
        display: none;
    }
}