<!DOCTYPE html>
<html>
<head>
	<title>August Sign Up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="signup.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
</head>
<body>

    <div class="main-div">

    <div class="smartphone">
        <!-- <img src="img/phone1.png" class="smartphone-frame"> -->
        <!-- <div id="preloader">
            <img src="static/images/logo.png" class="mx-auto d-block">
        </div> -->

        <form action="/" method="post">
            {% csrf_token %}
            <div class="content" id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                          <div class="signup-form">
                              <div class="form-group">
                                  <label class="signup-form-label">Enter your name</label>
                                  <div class="row">
                                      <div class="col-6">
                                          <input type="text" class="signup-form-input form-control" placeholder="First Name">
                                      </div>
                                      <div class="col-6">
                                          <input type="text" class="signup-form-input form-control" placeholder="Last Name">
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="signup-form-label">Give us your email</label>
                                  <input type="email" class="signup-form-input form-control" placeholder="example@mail.com">
                              </div>
                              <div class="form-group">
                                  <label class="signup-form-label">Give us your mobile number</label>
                                  <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">+91 </span>
                                      </div>
                                      <input type="number" class="signup-form-input form-control" placeholder="Enter Your Mobile Number">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="signup-form-label">Do you have a referral code?</label>
                                  <input type="text" class="signup-form-input form-control" placeholder="Enter the code">
                              </div>
                              <div class="form-group">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      I accept the terms and policy
                                    </label>
                                  </div>
                              </div>
                              <input type="submit" class="signup-form-input submit-button" value="Submit">
                          </div>
                        </div>
                        <div class="col-12">
                          <p class="signup-or"><strong>OR</strong></p>
                        </div>
                        <div class="col-12">
                          <label class="signup-label">Signup using</label>
                        </div>
                        <div class="col-6">
                            <div class="signup-others">
                              <img src="static/icons/facebook_login_icon.png" class="mx-auto d-block img-fluid">
                              <p class="signup-others-p">Facebook</p>
                            </div>
                        </div>
                        <div class="col-6">
                          <div class="signup-others">
                              <img src="static/icons/google_login_icon.png" class="mx-auto d-block img-fluid">
                              <p class="signup-others-p">Gmail</p>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
        </form>


        
    </div>  

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- <script>
        $(document).ready(function(){
            setTimeout(function() {
                $('#preloader').fadeOut(1500);
            }, 2000);
        });
    </script> -->
</body>
</html>